body{position: relative; margin: 0; padding: 0;}
.wrap{width: 700px; margin: 0 auto;}
h1{font-size: 35px; margin-bottom: 5px;}
.insert-info{border: 1px solid #e3e3e3; margin-bottom: 20px; border-radius: 7px; width: 100%;}
.insert-info > div > h2{font-size: 15px; margin: 0; padding: 10px 0 10px 15px; background-color: #f5f5f5;}
.insert-table{padding: 15px; table-layout: fixed; width: 100%; box-sizing: border-box;}
.insert-table > tbody tr th{padding: 7px 0; font-size: 15px; color: #333333; text-align: left; vertical-align: middle;}
.insert-table > tbody tr td > input{ width: 100%; box-sizing: border-box; border: 1px solid #e3e3e3; height: 30px;}
.submit-btn{border: 1px solid #e3e3e3; width: 90px; cursor: pointer; margin: 0 0 10px 15px; box-sizing: border-box; height: 30px; font-size: 14px; color: #333333; background-color: white; }
.list-table{table-layout: fixed; width: 100%;border-collapse: collapse; box-sizing: border-box; padding: 15px; }

.list-table > thead > tr{border-bottom: 2px solid #dadada;}
.list-table > thead > tr > th{font-size: 15px;  text-align: left; vertical-align: middle; box-sizing: border-box; height: 30px; padding-left: 10px;}
#target{max-height: 323px; overflow-y: auto; display: block;}

#target > tr:nth-of-type(odd) td{background-color: #f9f9f9;}
#target > tr > td{ vertical-align: middle; font-size: 13px; color: #333333; height: 30px; box-sizing: border-box; padding-left: 10px; text-align: left;}
#target > tr > td:first-of-type > span,
#target > tr > td:first-of-type > input{width: 100%; font-size: 13px;}
#target > tr > td:first-of-type{width: 81px; box-sizing: border-box;}
#target > tr > td:nth-of-type(2) > span,
#target > tr > td:nth-of-type(2) > input{width: 100%; font-size: 13px;}
#target > tr > td:nth-of-type(2){width: 198px; box-sizing: border-box;}
#target > tr > td:nth-of-type(3) > span,
#target > tr > td:nth-of-type(3) > input{width: 100%; font-size: 13px;}
#target > tr > td:nth-of-type(3){width: 115px; box-sizing: border-box;}
#target > tr > td:nth-of-type(4) > span,
#target > tr > td:nth-of-type(4) > input{width: 100%; font-size: 13px;}
#target > tr > td:nth-of-type(4){width: 204px; box-sizing: border-box;}
/* #target > tr > td:nth-of-type(5) span, */
/* #target > tr > td:nth-of-type(5) input{width: 140px; box-sizing: border-box;} */
#target > tr > td:nth-of-type(5){width: 300px;}
#target > tr > td input{border: 1px solid #fff;}
#target > tr > td input:focus{outline: none;}
#target > tr:nth-of-type(odd) td input{border: 1px solid #f9f9f9; background-color: #f9f9f9;}
.list-table > thead tr th:first-of-type{width: 57.64px;}
.list-table > thead tr th:nth-of-type(2){width: 120px;}
.list-table > thead tr th:nth-of-type(3){width: 85px;}
.list-table > thead tr th:nth-of-type(4){width: 155px;}
.list-table > thead tr th:nth-of-type(5){width: 271.36px;}
.button-box{display: flex; justify-content: space-between;}
.button-box > div{display: flex;}
.button-box > div button{border: 1px solid #e3e3e3; background-color: white; cursor: pointer; color: #333333;}
.del-btn{margin-left: 5px;}
.search-box{display: flex; margin: 20px 0 20px 10px}
.search-box > div{border: 1px solid #e3e3e3; background-color: white;  padding: 5px 7px; font-size: 15px; margin-right: 5px; color: #333333;}
.search-box > div span{display: inline-block; background-color: #333333; padding: 0 3px; color: white; border-radius: 20px;}
.search-box > select{border: 1px solid #e3e3e3; margin-right: 5px;}
.search-box > input{border: 1px solid #e3e3e3; margin-right: 5px;}
.search-box > button{border: 1px solid #e3e3e3;cursor: pointer; color: #333333; background-color: white;}
.body-tablebox > table{width: 100%; table-layout: fixed; box-sizing: border-box;}
.body-tablebox > table tbody tr{width: 100%;}
#del-pop{width: 300px; height: 150px; display: none; background-color: white; position: absolute; top: 45%; left: calc(50% - 150px); box-shadow: 0 0px 7px rgb(0 0 0 / 30%);}
#del-pop > p{display: block; font-size: 16px; font-weight: 700; text-align: center; margin: 45px 0 20px 0;}
#del-pop > div{display: flex; justify-content: center;}
#del-pop > div > button{border: 1px solid #e3e3e3; height: 25px; background-color: white; color: #333333; font-weight: 500; cursor: pointer; width: 54px;}
#del-pop > div > button:last-of-type{margin-left: 5px;}
.up-data{display: none;}
.view-data,
.correction-data{display: block;}
.correction-input{display: none;}
#reset-btn{margin-left: 5px;}
.time-box{position: fixed; right: 22%; top: 73px; border: 1px solid #ddd; padding: 15px;}
.time-box > ul{padding: 0; margin: 0;}
.time-box > ul li{display: flex;}
.time-box > ul li > span:last-of-type{margin-left: 4px;}